[submodule "sky130_sram_macros"]
	path = sky130_sram_macros
	url = git@github.com/pohantw/sky130_sram_macros
[submodule "caravel_user_project"]
	path = caravel_user_project
	url = git@github.com/pohantw/caravel_user_project
